<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{views/common/masterlayout}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
<!--        <aside>-->
<!--            <h2>Recent Posts</h2>-->
<!--            <a href="#" th:each="p : ${latest5Posts}" th:text="${p.title}" th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a>-->
<!--        </aside>-->
        <div th:replace="/fragments/posts :: posts" th:object="${comment}"/>

        <div th:replace="/fragments/pagination :: pagination(URLparameter='/index')"/>

    </div><!-- /.container -->
</th:block>


<th:block layout:fragment="footer"></th:block>

</body>
</html>