<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">

</style>
</head>
<body>
<div th:fragment="posts">

    <div class="container" th:each="post : ${pager.posts}">
        <div class="panel-heading">
            <!--            <div><button class="button button-success">Edit</button> </div>-->
            <!--            <div><button class="button button-success">delete</button> </div>-->
            <h2><a th:text="${post.title}" th:href="@{'/post/' + ${post.id}}">Title</a></h2>
            <div th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')} + ' by '">
                Created by
            </div>
            <div><a th:text="${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}">User</a>
            </div>
        </div>
<!--        <img th:src="@{${'/uploads/images/java.jpeg'}}" width="1000" alt="image here"/>-->

        <div><img class="img-responsive"  th:src="@{${'/uploads/images/'+post.coverImage}}"/></div>
        <h4  th:text="${post.body}">Body</h4>
        <br></br>
            <div class="col-md-2 pull-right">
                <form th:action="@{/posts/view/{id}(id = ${post.id})}">
                    <button type="submit" class="btn btn-info">show more</button>
                </form>
            </div>
    </div>

</div>

</body>
</html>